/* ----------------------------------
	ABOUT SECTION STYLEING
 ------------------------------------ */
.about-wrapper{
    &.about-2{
        position: relative;
        &::before {
            content: "";
            clear: both;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-image: url(../img/service/service-bg-2.png);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            z-index: -1;
        }
        &::after {
            content: "";
            clear: both;
            width: 100%;
            height: calc(60% + 20px);
            position: absolute;
            top: 0;
            left: 0;
            background-image: url(../img/service/service-bg-1.png);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            z-index: -1;
    }
    }
    .about-widget{
        max-width: 1720px;
        background-color: #fff;
        margin: 0 auto;
    }
    .about-left{
        // Main home page about section
        .abt_cmpny{
            max-width: 40px;
            max-height: 240px;
            position: absolute;
            right: 0;
            top: 0;

            h3.title{
                writing-mode: vertical-rl;
                text-orientation: mixed;
                color: #ECECEC;
                font-family: Pathway Extreme;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                text-transform: uppercase;
                margin-left: 25px;
            }
        }
        &.about-left-2{
            position: relative;
            height: 700px;
            width: 100%;
            @media (max-width:768px) {
                height: 500px;
            }
            .dot-element{
                position: absolute;
                bottom: 0%;
                left: 0%;
                animation:left-to-right 4s ease-in-out infinite;
            }
            .box-about{
                position: absolute;
                top: 10%;
                right: 0%;
                left: auto !important;
                display: inline-block;
                animation:left-to-right 4s ease-in-out infinite;
            }

        }
        .about-left-img{
            width: 100%;
            height: 500px;
            margin-bottom: 50px;
        }
        .service-item{
            display: flex;
            align-items: center;
            gap: 20px;
            .icons{
                width: 100px;
                height: 100px;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 500px;
                background-color: $secondary;
            }
        }
    }
    .about-btn{
        a{
            width: 184px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 184px;
            border-radius: 500px;
            border: 1px solid #212121;
            background: transparent;
            &:hover {
                background: $secondary;
                color: #fff;
                border: 1px solid $secondary;
            }
        }
    }
    .about-right{
        .about-right-img{
            width: 100%;
            height: 500px;
            margin-bottom: 50px;
            position: relative;

            @media(max-width: 767px){
                margin-bottom: 20px;
            }
        }
        @media (max-width: 1020px){
            margin-top: 60px;
        }
        @media (max-width: 767px){
            margin-top: 30px;
        }
        &.about-right-home-3{
            @media (max-width: 1020px){
                margin-top: 60px;
            }
        }
    }
    .about-text-right{
        &.about-text-right-2{
            display: flex;
            align-items: center;
            gap: 15px;
            .icons{
                position: relative;
                &::after {
                    content: "";
                    clear: both;
                    display: block;
                    width: 20px;
                    height: 20px;
                    border-radius: 400px;
                    background-color: #AEF238;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
            }
            }
        }
        h5{
            display: flex;
            align-items: center;
            gap: 5px;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
            text-transform: capitalize;
            color: #777777;
            i{
                width: 20px;
                height: 20px;
                background-color: $secondary;
                border-radius: 400px;
                font-size: 12px;
                display: flex;
                justify-content: center;
                align-items: center;
                transform: rotate(50deg);
            }
        }
    }
    .box-about{
        position: absolute;
        top: 65px;
        left: -67px;
        &.box-about-2{
            position: relative;
            top: 0;
            left: 20px;
        }
        @media (max-width: 991px){
            left: 0;
        }
        @media (max-width: 767px){
            left: 20px;
            top: 55%;
        }
    }
    .box-ten{
        width: 170px;
        height: 100px;
        border-radius: 10px;
        border: 1px solid $primary;
        z-index: 2;
        transform: rotate(-15deg);
        position: relative;
        padding: 25px 0px 0px 20px;
        background-color: $secondary;
        // animation: left-to-right 6s ease-in-out infinite;
        h5{
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            text-transform: capitalize;
            color: #212121;
            transform: rotate(15deg);
        }
        &::after{
            background-color: $secondary;
            position: absolute;
            top: -10px;
            left: -10px;
            content: '';
            clear: both;
            width: 170px;
            height: 100px;
            border-radius: 10px;
            border: 1px solid $primary;
            z-index: -1;
        }
    }
    .about-left-img-2{
        position: absolute;
        top: 30%;
        right: 0%;
    }
}
.home-1-about{
    .about-left{
        .about-left-img{
            img{
                @media(max-width: 480px){
                    max-width: 80% !important;
                }
            }
        }
    }
}
.map{
    max-width: 100%;
}

