/* ----------------------------------
	CASE DETAILS SECTION STYLE 
 ------------------------------------ */

 .case-wrapper{
    .case-details-bg{
        padding: 50px;
        @media (max-width:570px) {
            padding: 30px 10px;
        }
        .case-card{
            margin-left: auto;
            width: 350px;
            max-width: 100%;
            background-image: url(../img/body.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-color: #fff;
            padding: 50px 40px;
            .catagory{
                display: flex;
                justify-content: start;
                gap: 20px;
                align-items: center;
                padding: 10px 0px;
                border-bottom: 1px solid $primary;
                .content{
                    small{
                        color: #777;
                        font-family: Pathway Extreme;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 30px; /* 214.286% */
                        text-transform: capitalize;
                    }
                    h4{
                        color: #212121;
                        font-family: Pathway Extreme;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 30px;
                        text-transform: capitalize;
                        a{
                            color: $primary;
                            font-family: Pathway Extreme;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 30px;
                            text-transform: none;
                        }
                    }
                }
            }
            @media (max-width:570px) {
                padding: 30px 10px;
            }
        }
    }
    .case-img{
        text-align: right;
        & img {
            border-radius: 100%;
            padding-top: 35px;
            border-radius: 1000px 1000px 0px 0px;
            border: 1px solid #212121;
            border-bottom: none;
        }
        @media(max-width: 767px){
            text-align: center;
        }

    }
 }
 .case-datils-content{
    P{
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        color: #777777;
        padding: 10px 0px !important;
    }
    h4{
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        color: #212121;
    }
    ul>li{
        position: relative;
        font-family: 'Pathway Extreme';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 30px;
        padding: 10px 0px;
        color: #212121;
        .angle{
            width: 16px;
            height: 16px;
            background-color: $secondary;
            border: 1px solid $primary;
            border-radius: 100%;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            font-size: 10px;
            padding-top: 2px;
            margin-right: 10px;
        }
    }
 }
.next-prev{
    border-top: 1px solid $primary;
    border-bottom: 1px solid $primary;
    padding: 40px 0px;
    a{
        font-family: 'Pathway Extreme';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 20px;
        text-transform: capitalize;
        color: #283734;
        &:hover{
            text-decoration: underline;
        }
    }
}
.portfolio-showcase-wrapper{
    .portfolio-cat-filter{
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
        @media(max-width: 767px){
            gap: 10px;
            button{
                margin-bottom: 0;
            }
        }
    }
    .project-item-card{
        .contents-card{
            .project-link{
                transform: rotate(45deg);
            }
        }
        a{
            text-align: center;
        }
    }
}
