/* ----------------------------------
	HERO SECTION STYLE
 ------------------------------------ */

.hero-wrapper{
    &.hero-1{
        .hero-single-slider{
            position: relative;
            padding: 220px 0px 220px 0px;
            @media (max-width:992px) {
                padding: 200px 0px 120px 0px;
            }
            @media (max-width:768px) {
                padding: 160px 0px 110px 0px;
            }
            @media (max-width:578px) {
                padding: 120px 0px 100px 0px;
            }
            .hero-content{
                h1{
                    font-weight: 700;
                    font-size: 86px;
                    line-height: 106px;
                    color: $white;
                    margin-bottom: 25px;
                    
                    @media (max-width:1040px) {
                        font-size: 52px;
                        line-height: 66px;
                    }
                    @media (max-width:992px) {
                        font-size: 48px;
                        line-height: 62px;
                    }
                    @media (max-width:768px) {
                        font-size: 42px;
                        line-height: 52px;
                    }
                    @media (max-width:578px) {
                        font-size: 40px;
                        line-height: 50px;
                    }
                    span{
                        font-family: 'Pathway Extreme';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 96px;
                        line-height: 106px;
                        color: #00000050;
                        opacity: 0.5;
                        text-shadow: -1px 1px 0 $white, 1px 1px 0 $white, 1px -1px 0 $white, -1px -1px 0 $white;
                        @media (max-width:1040px) {
                            font-size: 52px;
                            line-height: 66px;
                        }
                        @media (max-width:992px) {
                            font-size: 48px;
                            line-height: 62px;
                        }
                        @media (max-width:768px) {
                            font-size: 42px;
                            line-height: 52px;
                        }
                        @media (max-width:578px) {
                            font-size: 40px;
                            line-height: 50px;
                        }
                    }
                    span.dif-text{
                        font-family: 'ABeeZee';
                    }
                }
                p{
                font-weight: 400;
                font-size: 18px;
                line-height: 30px;
                color: $white;
                max-width: 650px;
                margin-bottom: 50px;
                }
                a{
                    background: $secondary;
                    border: 1px solid $primary;
                    border-radius: 100px;
                    padding: 15px 30px;
                    position: relative;
                    z-index: 1;
                }
            }
            z-index: 1;
            position: relative;
           
            
            &:before {
                top: 0;
                left: 0;
                z-index: -1;
                width: 100%;
                height: 100%;
                content: '';
                position: absolute;
                background: linear-gradient(90deg, #212121 0%, rgba(33, 33, 33, 0.5) 100%);
            }
            .left-element{
                position: absolute;
                top: 0;
                left: 0%;
                z-index: -2;
            }
            .right-element{
                position: absolute;
                top: 0;
                right: 0%;
                z-index: -2;
            }
            .bottom-element{
                position: absolute;
                bottom: 0;
                left: 0%;
                z-index: -2;
            }
            .top-element{
                position: absolute;
                right: 0;
                top: 0%;
                z-index: 2;
            }
            .top-element-2{
                position: absolute;
                right: 10%;
                top: 0%;
                z-index: -2;
            }
        }
        .shape{
            position: absolute;
            bottom: 0%;
            right: 11%;
            z-index: -2;
        }
        .shape-left{
            position: absolute;
            left: 0;
            bottom: 25%;
            z-index: -1;
        }
        &.hero-4{
            .hero-content{
                h1{
                    color: #FFF;
                    font-size: 96px;
                    font-family:$heading-font;
                    font-weight: 700;
                    line-height: 106px;

                    @media (max-width:992px) {
                        font-size: 80px;
                        line-height: 100px;
                    }
                    @media (max-width:768px) {
                        font-size: 50px;
                        line-height: 80px;
                    }
                    @media (max-width:578px) {
                        font-size: 40px;
                        line-height: 50px;
                    }
                }
                
                .bread_c{
                    display: inline-block;
                    margin-top: -60px;
                    padding: 60px 20px 10px;
                 
                    position: relative;
                    &::after {
                        content: '';
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        background-color: #AEF238;
                        left: 0;
                        top: 0;
                        mix-blend-mode: multiply;
                        z-index: 1;
                    }
                    p.breadcrumb {
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 30px;
                        color: $white;
                        max-width: auto;
                        margin-bottom:0px;
                       
                        a{
                            color: #fff;
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 30px;
                            border: none;
                            padding: 0;
                            background-color: transparent;
                            z-index: 99;
                        }
                        
                    }
                    @media(max-width: 767px){
                        margin-top: -40px;
                        padding: 40px 20px 10px;
                    }
                }
            }
            .small_width{
                @media (max-width:1030px) {
                    width: 12%;
                }
            }

        }
        &.hero-border{
            border-bottom: 20px solid $secondary;
        }
    }
}
.shape-bottom-2{
	position: absolute;
	bottom: 0;
	left: 50%;
}
.breadcrumb-right-element {
	position: absolute;
	right: 0;
	bottom: -110px;
}
.breadcrumb-video {
	position: absolute;
	right: 231px;
	top: 31%;
	transform: translate(-50%, 50%);
	z-index: 1;
}
.breadcrumb-shape {
	position: absolute;
	right: 208px;
	bottom: -146px;
}