/* ----------------------------------
	SERVICE SECTION STYLEING
 ------------------------------------ */
.service-wrapper{

    &.service-1{
        .single_service{
            position: relative;
            background-color: $white;
            padding: 40px 35px;
            @include transition(0.4s);
            h5{
                font-weight: 700;
                font-size: 20px;
                line-height: 34px;
                margin-bottom: 20px;
            }
            .card-img{
                width: 100px !important;
                height: 100px !important;
                overflow: hidden;
                border-radius: 400px;
                border: 1px solid $black;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px;
                background-color: $secondary;
                img{
                    object-fit: cover;
                }
            }
            p{
                margin-top: 20px;
                margin-bottom: 15px;
                @include transition(0.4s);
            }
            ul >li{
                display: block;
                padding-left: 20px;
                margin: 10px 0px;
                font-size: 16px;
                @include transition(0.4s);
                &::after{
                    content: '\f00c';
                    clear: both;
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    font-family: $fa;
                    font-weight: 900;
                }
            }
            &::after{
                position: absolute;
                clear: both;
                display: block;
                content: '';
                width: 1px;
                height: 100%;
                background-image: url(../img/svg-icon/servicesvg-1.svg);
                background-repeat: no-repeat;
                background-position: 0 0;
                background-size: cover;
                right: 0%;
                top: 0%;
                height: 100%;
                width: 100%;
                z-index: -1;
                background-color: $secondary;
            }
            &:hover{
                h5, p{
                    color: $primary;
                }
                ul>li{
                    color: $primary;
                }
               background: transparent;
            }
        }
        @media (max-width:1030px) {
            padding: 30px 0;
        }
    }
   /**service 2**/
    &.service-2{
        position: relative;
        .single-service-widget{
            position: relative;
            background: $white;
            clip-path: polygon(50% 5%, 100% 0, 100% 50%, 100% 100%, 0 100%, 0% 60%, 0 0);
            z-index: 1;
            @include transition(0.4s);
            .single_service{
                padding: 40px 35px;
                h5{
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 34px;
                    margin-bottom: 20px;
                }
                .card-img{
                    width: 70px;
                    height: 70px;
                    border: none;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    z-index: 4;
                    img{
                        object-fit: cover;
                    }
                    &::after{
                        position: absolute;
                        clear: both;
                        display: block;
                        content: '';
                        width: 20px;
                        height: 20px;
                        left: 10%;
                        top: 10%;
                        border-radius: 500px;
                        z-index: -1;
                        background-color: $secondary;
                    }
                }
                p{
                    margin-top: 20px;
                    margin-bottom: 15px;
                    @include transition(0.4s);
                }
            }
            .service-bg-item{
                position: relative;
                z-index: 1;
                width: 100%;
                height: 200px;
            }
            &::after{
                @include transition(0.4s);
                position: absolute;
                clear: both;
                display: block;
                content: '';
                visibility: hidden;
                opacity: 0;
                background-image: url(../img/svg-icon/servicesvg-1.svg);
                background-repeat: no-repeat;
                background-position: 0 0;
                background-size: cover;
                right: 0%;
                top: 0%;
                height: 100%;
                width: 100%;
                z-index: -1;
                background-color: $secondary;
            }
            &:hover{
                h5, p{
                    color: $primary;
                }
               background: transparent !important;
               &::after{
                visibility: visible;
                opacity: 1;
               }
            }
        }
        &::after{
            content: '';
            clear: both;
            width: 100%;
            height: calc(60% + 20px);
            position: absolute;
            top: 0;
            left: 0;
            background-image: url(../img/service/service-bg-1.png);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            z-index: -1;
        }
        &::before{
            content: '';
            clear: both;
            width: 100%;
            height: calc(60% + 20px);
            position: absolute;
            top: 0;
            left: 0;
            background-image: url(../img/service/service-bg-2.png);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            z-index: -1;    
        }
    }
   /**service 2**/
   &.service-3{
    position: relative;
    .single-service-widget{
        position: relative;
        background: $white;
        clip-path: polygon(50% 5%, 100% 0, 100% 50%, 100% 100%, 0 100%, 0% 60%, 0 0);
        z-index: 1;
        @include transition(0.4s);
        .single_service{
            padding: 40px 35px;
            h5{
                font-weight: 700;
                font-size: 20px;
                line-height: 34px;
                margin-bottom: 20px;
            }
            .card-img{
                width: 70px;
                height: 70px;
                border: none;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                z-index: 4;
                img{
                    object-fit: cover;
                }
                &::after{
                    position: absolute;
                    clear: both;
                    display: block;
                    content: '';
                    width: 20px;
                    height: 20px;
                    left: 10%;
                    top: 10%;
                    border-radius: 500px;
                    z-index: -1;
                    background-color: $secondary;
                }
            }
            p{
                margin-top: 20px;
                margin-bottom: 15px;
                @include transition(0.4s);
            }
        }
        .service-bg-item{
            position: relative;
            z-index: 1;
            width: 100%;
            height: 200px;
        }
        &::after{
            @include transition(0.4s);
            position: absolute;
            clear: both;
            display: block;
            content: '';
            visibility: hidden;
            opacity: 0;
            background-image: url(../img/svg-icon/servicesvg-1.svg);
            background-repeat: no-repeat;
            background-position: 0 0;
            background-size: cover;
            right: 0%;
            top: 0%;
            height: 100%;
            width: 100%;
            z-index: -1;
            background-color: $secondary;
        }
        &:hover{
            h5, p{
                color: $primary;
            }
           background: transparent !important;
           &::after{
            visibility: visible;
            opacity: 1;
           }
        }
    }
    }

    &.service-4{
        position: relative;
        &::after{
            content: '';
            clear: both;
            width: 100%;
            height:100%;
            position: absolute;
            top: 0;
            left: 0;
            background-image: url(../img/service/service-bg-1.png);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            z-index: -1;
        }
        &::before{
            content: '';
            clear: both;
            width: 100%;
            height:100%;
            position: absolute;
            top: 0;
            left: 0;
            background-image: url(../img/service/service-bg-2.png);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            z-index: -1;    
        }
        .single_service{
            position: relative;
            background-color: $white;
            border: 1px solid $white;
            padding: 40px 35px;
            @include transition(0.4s);
            .card-img{
                width: 100px;
                height: 100px;
                overflow: hidden;
                object-fit: cover;
                position: relative;
                z-index: 1;
                &::after {
                    position: absolute;
                    clear: both;
                    display: block;
                    content: "";
                    width: 20px;
                    height: 20px;
                    left: 0%;
                    top: 0%;
                    border-radius: 500px;
                    z-index: -1;
                    background-color: $secondary;
            }
            }
            p{
                margin-top: 30px;
                margin-bottom: 15px;
                @include transition(0.4s);
            }
            h5{
                margin-top: 80px;
            }
            span.num{
                position: absolute;
                top: 50px;
                right: 50px;
                font-family: 'Pathway Extreme';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 34px;
                text-align: right;
                color: rgba(33, 33, 33, 0.2);
            }
            &::after{
                position: absolute;
                clear: both;
                display: block;
                content: '';
                width: 1px;
                height: 100%;
                background-image: url(../img/svg-icon/servicesvg-1.svg);
                background-repeat: no-repeat;
                background-position: 0 0;
                background-size: cover;
                right: 0%;
                top: 0%;
                height: 100%;
                width: 100%;
                z-index: -1;
                background-color: $secondary;
            }
            &:hover{
                border: 1px solid $primary;
                h5, p, .num{
                    color: $primary;
                }
                ul>li{
                    color: $primary;
                }
               background: transparent;
            }
        }
    }
}