/* ----------------------------------
	TESTIMONIAL SECTION STYLEING
 ------------------------------------ */
.single-testimonial{
    background-color: $white;
    border: 1px solid $black;
    padding: 50px;
    @include transition(0.4s);
    @media (max-width:992px ){
        padding: 40px 30px;
    }
    p{
        margin-top: 20px;
    }
    &:hover{
        border: 1px solid $secondary;
    }
}
.testimonial-2{
    position: relative;
    z-index: 2;
    padding-bottom: 240px;
    &::after{
        content: '';
        clear: both;
        display: block;
        width: 85%;
        height: 100%;
        position: absolute;
        background: $white;
        top: 0;
        right: 0%;
        z-index: -1;
    }
    .about-testimonial{
        margin-top: 120px;
    }

    @media (min-width: 1021px) and (max-width: 1120px){
        padding-bottom: 205px;
        &::after{
            width: 100%;
        }
    }

    @media(max-width: 1020px){
        padding-bottom: 120px;
        &::after{
            width: 100%;
        }
        .about-testimonial{
            margin-top: 0;
        }
    }
    @media(max-width: 850px){
        padding-bottom: 60px;
    }
}
.single-testimonial-2{
    position: relative;
    z-index: 3;
    padding: 50px;
    @include transition(0.4s);
    @media (max-width:992px ){
        padding: 40px 30px;
    }
    @media(max-width: 767px){
        padding: 0 20px;
    }
    .ring{
        margin-left: auto;
        width: 150px;
        height: 5px;
        border-radius: 2px;
        border: 1px solid #111111;
        background-color: $secondary;
        margin-bottom: 5px;
    }
    p{
        margin-top: 20px;
    }
    .testimonial-img {
        height: 100px;
        width: 100px;
        border-radius: 6px;
    }
    .head-single{
        display: flex;
        align-items: center;
        justify-content: end;
        text-align: right;
        gap: 20px;
    }
    h4{
        margin-top: 30px;
        font-family: 'Pathway Extreme';
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 52px;
        text-align: right;
        color: $primary;
        margin-bottom: 30px;
        @media(max-width: 991px){
            font-size: 28px;
            line-height: 42px;
        }
        @media(max-width: 767px){
            font-size: 22px;
            line-height: 32px;
        }
    }
    small{
        margin-left: 150px;
    }
}
.testimonial-img {
    height: 100px;
    width: 90px;
    border-radius: 6px;
}
.head-single{
    display: flex;
    align-items: center;
    gap: 20px;
}
.head-content{
    small{
        font-family: $body-font;
        font-weight: 400;
        font-size: 16px;
        line-height: 180%;
        text-align: center;
        text-transform: capitalize;
        color: #777777;
    }
    h5{
        color: $primary;
        font-weight: 700;
        font-size: 18px;
        line-height: 30px;
        text-transform: capitalize;
    }
    ul>li{
        i{
            color: #FDCC1F;
        }
        font-weight: 400;
        font-size: 14px;
        line-height: 30px;
    }
}

.about-element{
    position: absolute;
    bottom: 12%;
    left: calc(20% + 30px);
    z-index: 1;
    @media (max-width:1600px) {
        left: calc(15% + 30px);
    }
    @media (max-width:1400px) {
        left: calc(7% + 30px);
    }
    @media (max-width:992px) {
        display: none;
    }
}

.items-widget{
   
    &:nth-child(1){
        padding: 20px 120px 20px 20px;
        @media (max-width:768px) {
            padding: 20px 20px 20px 20px;
        }
        border-right: 1px solid $secondary;
    }
    &:nth-child(2){
        padding: 20px 20px 20px 120px;
        @media (max-width:768px) {
            padding: 20px 20px 20px 20px;
        }
    }
}
.sercle{
    position: absolute;
    top: 15%;
    left: 42%;
}
.slider-items-test{
    position: relative;
    border: 1px solid $secondary;
    display: flex;
    align-items: center;
    .man-cntent{
        display: flex;
        align-items: center;
        gap: 15px;
    }
    .man{
        width: 90px;
        height: 100px;
        border-radius: 6px;
        overflow: hidden;
        img{
            object-fit: cover;
        }
    }
    .content{
        small{
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 180%;
            text-align: center;
            text-transform: capitalize;
            color: $secondary;

        }
        h6{
            font-weight: 700;
            font-size: 18px;
            line-height: 30px;
            text-transform: capitalize;
            color: $white;
        }
        ul>li{
            i{
                color: gold;

            }
            color: $white;
        }
    }
    .item-content{
        margin-top: 25px;
        p{
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 40px;
            color: rgba(255, 255, 255, 0.6);

            @media(max-width: 767px){
                font-size: 18px;
            }
        }
    }
}